*
{box-sizing: border-box;
outline: 1px solid red;
}

main{
    min-height: 100vh;
}

header {
    color: blue;
}

section{
    height: 300px;
}

.streams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.oneStream{
    width: 650px;
}